@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "SolaimanLipi";
  src: url("../fonts/SolaimanLipi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "SolaimanLipi";
  box-sizing: border-box;
}

:root {
  /* color */
  --black: #000000;
  --white: #ffffff;
  --red: #a12c2f;
  --green: #008000;
}

.line-primary {
  border: 3px solid #d90429;
  width: 150px;
}
.see-more-btn-primary {
  background-color: #a12c2f;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.see-more-btn-primary:hover {
  background-color: #003e1f;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
/* top header start */
.top-header .message {
  font-size: 18px;
  font-weight: 400;
  font-family: "SolaimanLipi";
  color: #000;
}
.top-header .cta-btn {
  font-size: 18px;
  font-weight: 400;
  font-family: "SolaimanLipi";
  color: #000;
}
.top-header .cta-btn:hover {
  background-color: #bd1616;
  color: #ffffff;
  border-radius: 4px;
  padding: 2px;
}
/* top header end */
/* header start */
.header ul li a {
  font-size: 18px;
  font-family: "SolaimanLipi";
  font-weight: 500;
}
.hero-section .image-wrapper {
  position: relative;
  width: 100%;
}
.hero-section .bottom-title .pic-caption {
  background-color: #f5f3f489;
  clip-path: polygon(0% 0%, 95% 0, 100% 100%, 100% 100%, 0% 100%);
  height: 30px;
  width: 75%;
}
.hero-section .bottom-title .pic-source {
  background-color: #f5f3f489;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 100% 100%, 10% 100%);
  height: 30px;
  width: 25%;
}
.hero-section .bottom-title .pic-caption p {
  color: var(--black);
  font-size: 14px;
  font-family: "SolaimanLipi";
  font-weight: 400;
  line-height: 1.3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.hero-section .bottom-title .pic-source p {
  color: var(--black);
  font-size: 12px;
  font-family: "SolaimanLipi";
  font-weight: 400;
  line-height: 1.3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.hero-section .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-section .aspect-ratio-16-9 {
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
}

.hero-section .our-demands {
  max-height: 30rem;
}
.hero-section .our-demands .card {
  background-color: #bd1616;
  /* background-image: url("../img/cta-bg.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 7rem;
  background-blend-mode: multiply;
}
.hero-section .our-demands .card-text {
  font-size: 18px;
  font-family: "SolaimanLipi";
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.hero-section .swiper-button-next {
  color: red;
}
.hero-section .swiper-button-prev {
  color: red;
}

/* header end */

/* foloating btn start */
.floating-btn {
  z-index: 999;
  position: fixed;
  right: 2rem;
  top: 48%;
}

.floating-btn .our-visitors {
  background-color: #a12c2f;
  font-family: "SolaimanLipi";
  font-weight: 400;
  font-size: 19px;
}
/* foloating btn end */

/* scrolling-news start */
.scrolling-news .title {
  font-size: 24px;
  font-family: "SolaimanLipi";
  font-weight: 400;
  /* background-color: #a12c2f; */
  color: var(--white);
}
.scrolling-news .marq .marque-text {
  font-size: 20px;
  font-family: "SolaimanLipi";
  font-weight: 400;
  line-height: 1.8;
}
/* scrolling-news end */

/* counter-section start */
.counter-section {
  /* background-color: #db1111; */
  background-color: #8e1e1e;
  /* background-color: rgba(0, 128, 0, 0.401); */
  /* background-image: url("./assets/img/counter-bg.jpg"); */
  background-image: url("../img/andolon.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-blend-mode: multiply;
}

.counter-section .counter-item {
  position: relative;
  text-align: center;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 32px;
  padding-bottom: 35px;
  /* margin-bottom: 30px; */
}
.counter-section .counter-item p {
  font-size: 24px;
  font-family: "SolaimanLipi";
  font-weight: bold;
}

.counter-section .counter-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  animation: counter-ani-one 5s infinite linear;
}

.counter-section .counter-item h3 {
  font-size: 50px;
  margin-bottom: 0;
  color: #f00041;
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
}

.counter-section .counter-item p {
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.7;
}
/* counter-section end */

/* all-shamonnoyk-list start */
.all-shamonnoyk-list .swiper {
  width: 100%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
}

.all-shamonnoyk-list .swiper-wrapper {
  position: relative;
  height: 100%;
}

.all-shamonnoyk-list .swiper-slide {
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;
}

.all-shamonnoyk-list .swiper-slide img {
  height: 200px !important;
  width: 200px !important;
  object-fit: cover;
}
.all-shamonnoyk-list .title {
  font-size: 52px;
  font-family: "SolaimanLipi";
  font-weight: 600;
}
/* all-shamonnoyk-list end */
/* all shahid list start */
.all-shahid-list .title {
  font-size: 52px;
  font-family: "SolaimanLipi";
  font-weight: 600;
}
/* all shahid list end */
/* main banner start */
.main-banner {
  margin-top: 96px;
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: -7px;
}

#bg-video {
  min-width: 100%;
  height: 800px;
  max-width: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-overlay {
  position: absolute;
  background-color: rgba(31, 39, 43, 0.75);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.main-banner .caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.main-banner .caption p {
  color: #fff;
  font-size: 14px;
  max-width: 570px;
}

.main-banner .caption .main-button-red {
  margin-top: 30px;
}

.main-button-red a {
  font-size: 13px;
  color: #fff;
  background-color: #a12c2f;
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
}
/* main banner end */
/* mission-vision-success  start*/
.mission-vision-success {
  margin-top: -135px;
  /* position: absolute; */
  width: 100%;
  min-height: 17rem;
  /* background-color: var(--White); */
  background-image: url("../img/meetings-bg.jpg") #ffffff10;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}
.mission-vision-success .card-item {
  background-image: url("../img/service-item-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  /* padding: 40px; */
}
.mission-vision-success .item .icon {
  max-width: 60px;
  margin: 0 auto;
}

.mission-vision-success .item h4 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  font-family: "SolaimanLipi";
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.mission-vision-success .item p {
  color: #fff;
  font-size: 18px;
  font-family: "SolaimanLipi";
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
/* mission-vision-success  end*/

/* shahid-list start */

/* shahid-list end */

/* our heros start */
.our-heros {
  /* background-color: rgb(247, 11, 70);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  background-image: url("./assets/img/shahid-minar-protest.jpg");
  background-size: cover;
  background-blend-mode: multiply; */
}
.our-heros h2 {
  color: #fff;
  font-size: 48px;
  font-family: "SolaimanLipi";
  font-weight: 600;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.our-heros .line {
  width: 150px;
  height: 5px;
  background-color: red;
  display: flex;
  justify-content: center;
  margin-top: -10px;
}
.our-heros .grid {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 30vw;
  list-style: none;
  padding-left: 0;
}

.our-heros .grid li:nth-child(11n + 9) {
  grid-column: 1 / -1;
  grid-row: span 2;
  padding-left: 0;
}

.our-heros .grid figure,
.our-heros .grid img {
  width: 100%;
  height: 100%;
}

.our-heros .grid img {
  object-fit: cover;
  background: #f5f3f4;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  padding-left: 0;
}

/* ------ */
.our-heros .image-overlay-bottom-to-up {
  position: relative;
}

.our-heros .image-overlay-bottom-to-up-image {
  display: block;
  width: 100%;
  height: auto;
}

.our-heros .image-overlay-bottom-to-up-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.067);
  background-image: linear-gradient(rgba(255, 0, 0, 0), red);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.our-heros
  .image-overlay-bottom-to-up:hover
  .image-overlay-bottom-to-up-overlay {
  height: 100%;
}

.our-heros .image-overlay-bottom-to-up-text {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  /* top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; */
}
.our-heros .image-overlay-bottom-to-up-text h5 {
  color: #fff;
  font-size: 18px;
  font-family: "SolaimanLipi";
  font-weight: 600;
  line-height: 1.5;
}
.our-heros .image-overlay-bottom-to-up-text h6 {
  color: #fff;
  font-size: 16px;
  font-family: "SolaimanLipi";
  font-weight: 400;
  line-height: 1.2;
}

@media (min-width: 850px) {
  .our-heros .grid {
    grid-gap: 6px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 12vw;
    padding-left: 0;
  }

  .our-heros .grid li {
    --row-step: calc(4 * var(--n));
    padding-left: 0;
  }

  .our-heros .grid li:nth-child(11n + 1) {
    grid-column: 1;
    grid-row: calc(1 + var(--row-step)) / span 2;
    padding-left: 0;
  }

  .our-heros .grid li:nth-child(11n + 2) {
    grid-column: 2 / span 2;
    grid-row: calc(1 + var(--row-step)) / span 2;
    padding-left: 0;
  }

  .our-heros .grid li:nth-child(11n + 3) {
    grid-column: 4;
    grid-row: calc(1 + var(--row-step));
  }

  .our-heros .grid li:nth-child(11n + 4) {
    grid-column: 5;
    grid-row: calc(1 + var(--row-step));
  }

  .our-heros .grid li:nth-child(11n + 5) {
    grid-column: 4;
    grid-row: calc(2 + var(--row-step));
  }

  .our-heros .grid li:nth-child(11n + 6) {
    grid-column: 5;
    grid-row: calc(2 + var(--row-step)) / span 2;
  }

  .our-heros .grid li:nth-child(11n + 7) {
    grid-column: 2;
    grid-row: calc(3 + var(--row-step));
  }

  .our-heros .grid li:nth-child(11n + 8) {
    grid-column: 1;
    grid-row: calc(3 + var(--row-step));
  }

  .our-heros .grid li:nth-child(11n + 9) {
    grid-column: 3 / span 2;
    grid-row: calc(3 + var(--row-step)) / span 2;
  }

  .our-heros .grid li:nth-child(11n + 10) {
    grid-column: 1 / span 2;
    grid-row: calc(4 + var(--row-step));
  }

  .our-heros .grid li:nth-child(11n + 11) {
    grid-column: 5;
    grid-row: calc(4 + var(--row-step));
  }
}
/* our heros end */

/* events start */
.history h2 {
  color: #fff;
  font-size: 48px;
  font-family: "SolaimanLipi";
  font-weight: 600;
  line-height: 1.5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.history .line {
  width: 150px;
  height: 5px;
  background-color: red;
  display: flex;
  justify-content: center;
  margin-top: -10px;
}
.history .card .date {
  background-color: #8e1e1e;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--white);
  line-height: 1.2;
  border-radius: 5px 0px 0px 5px;
  width: 150px;
}
.history .card .tiem-and-details {
  font-size: 16px;
  font-family: "Solimanlipi";
  font-weight: 400;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5;
  padding-right: 15px;
}

.history .card .tiem-and-details .desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-right: 10px;
}
.history .card .text-title {
  font-size: 16px;
  font-family: "Solimanlipi";
  font-weight: 400;
  height: 50px;
  color: #000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.history .card .tiem-and-details .text-btn:hover {
  color: #8e1e1e;
}
.history .card .tiem-and-details .time {
  font-size: 20px;
  font-family: "Solimanlipi";
  font-weight: 400;
  color: #000;
}
.history .card .detail-btn {
  font-size: 20px;
  font-family: "Solimanlipi";
  font-weight: 400;
  color: #8e1e1e;
}
.history .card .detail-btn:hover {
  font-size: 20px;
  font-family: "Solimanlipi";
  font-weight: 400;
  color: #000000;
}
/* events end */

/* upcoming-events start */
.upcoming-events .upcoming-events-content {
  width: 100%;
  height: 100%;
  background-color: #b53f1f9f;
  background-image: url("../img/bg.da5f502892f862ed1de2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.upcoming-events .upcoming-events-content .countdown-circle {
  height: 100px;
  width: 100px;
  border: 3px solid red;
  border-radius: 50%;
  padding-top: 10px;
  background-color: #8e1e1e7f;
  color: white;
}

.upcoming-events .upcoming-events-content .countdown-circle span {
  font-size: 24px;
  font-weight: 600;
}

.upcoming-events .upcoming-events-content .countdown-circle .label {
  font-size: 20px;
  font-weight: 400;
}
/* upcoming-events end */
/* latest-news start */
.latest-news {
  width: 100%;
  min-height: 17rem;
  background-image: url("/assets/img/latest-news.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}
.latest-news .site-img {
  width: 39.5%;
}
/* latest-news end */
/* grid gallery start */

.grid-gallery {
  width: 100%;
  margin: 0 auto;
  padding: 24px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.grid-gallery .grid-item {
  position: relative;
  background-color: #efefef;
  overflow: hidden;
}

.grid-gallery .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-gallery .grid-item:hover img {
  transform: scale(1.1);
}

.grid-gallery .grid-item a {
  cursor: zoom-in;
}

.grid-gallery .grid-item:nth-child(20n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-gallery .grid-item:nth-child(3n + 1) {
  grid-column: span 2;
  grid-row: span 0;
}

.grid-gallery .grid-item:nth-child(5n + 3) {
  grid-column: span 0;
  grid-row: span 2;
}

/* grid gallery end */

/* video-gallery start */
/* .video-gallery .btn-img iframe {
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.video-gallery .active-link iframe {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
} */
/* .video-gallery .btn-img img {
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.video-gallery .active-link img {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
} */
/* 
.video-gallery .active {
  opacity: 1;
  z-index: 1000;
}


.video-gallery #image_1.active {
  margin-left: 0px;
  margin-top: 0px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.video-gallery #image_2.active {
  margin-left: 0px;
  margin-top: 0px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.video-gallery #image_3.active {
  margin-left: 0px;
  margin-top: 0px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.video-gallery #image_4.active {
  margin-left: 0px;
  margin-top: 0px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
} */
.video-gallery .active {
  opacity: 1;
  z-index: 1000;
}

.video-gallery .slider-video {
  opacity: 0;
  z-index: 0;
  transition: all 0.5s ease-in-out;
}

.video-gallery .slider-video.active {
  opacity: 1;
  z-index: 1000;
}

/* video-gallery end */

/* photo-gallery start */
.photo-gallery .nav-link.active {
  border-bottom: 2px solid red;
  background-color: rgb(222, 62, 62);
  color: #fff !important;
  border-radius: 4px;
}

.photo-gallery .nav-link:hover {
  border-bottom: 2px solid red;
  border-radius: 4px;
  background-color: rgba(222, 62, 62, 0.108);
  color: #000 !important;
}

.photo-gallery .image-wrapper {
  position: relative;
  width: 100%;
}

.photo-gallery .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.photo-gallery .aspect-ratio-16-9 {
  padding-bottom: 100%;
  /* 16:9 aspect ratio */
}

.photo-gallery .image-overlay-bottom-to-up {
  position: relative;
}

.photo-gallery .image-overlay-bottom-to-up-image {
  display: block;
  width: 100%;
  height: auto;
}

.photo-gallery .image-overlay-bottom-to-up-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 0, 0, 0.067);
  background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.67));
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 6px;
}

.photo-gallery
  .image-overlay-bottom-to-up:hover
  .image-overlay-bottom-to-up-overlay {
  height: 100%;
}

.photo-gallery .image-overlay-bottom-to-up-text {
  color: white;
  position: absolute;
  top: 90%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: start;
  font-family: "SolaimanLipi";
  font-weight: 400;
  font-size: 16px;
}
/* photo-gallery end */
/* section-headline start */
.section-headline {
  padding: 20px 0px;
}

.section-headline .section-headline-title {
  padding: 20px 0px 10px 0px;
  color: #219653;
  font-family: Encode Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 40px;
}

.section-headline .section-headline-card h2 {
  overflow: hidden;
  color: #40474f;
  text-overflow: ellipsis;
  font-family: Segoe UI;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.section-headline .section-headline-card .line-animate-1 {
  width: 60%;
  height: 5px;
  background: #15bef0;
}

.section-headline .section-headline-card:hover .line-animate-1 {
  width: 100%;
  background: #15bef0;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.section-headline .section-headline-card .line-animate-2 {
  width: 60%;
  height: 5px;
  background: #f16464;
}

.section-headline .section-headline-card:hover .line-animate-2 {
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.section-headline .section-headline-card .line-animate-3 {
  width: 60%;
  height: 5px;
  background: #47bfaf;
}

.section-headline .section-headline-card:hover .line-animate-3 {
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.section-headline .section-headline-card .line-animate-4 {
  width: 60%;
  height: 5px;
  background: #69b342;
}

.section-headline .section-headline-card:hover .line-animate-4 {
  width: 100%;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.section-headline .section-headline-card p {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.6);
  text-overflow: ellipsis;
  font-family: Segoe UI;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* section-headline end */

/* footer start */

/* footer end */

/* media query start */

@media screen and (min-width: 1400px) and (max-width: 1600.98px) {
  #bg-video {
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .hero-section .our-demands {
    max-height: 26rem;
  }
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 20px;
  }

  .latest-news .site-img {
    width: 30%;
  }
  #bg-video {
    height: 600px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .hero-section .our-demands {
    max-height: 19rem;
  }
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-auto-rows: 140px;
    grid-gap: 20px;
  }

  .latest-news .site-img {
    width: 30%;
  }
  #bg-video {
    height: 600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .hero-section .our-demands {
    max-height: 14rem;
  }

  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 120px;
    grid-gap: 5px;
  }
  .all-shamonnoyk-list .title {
    font-size: 48px;
  }
  #bg-video {
    height: 600px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  /* scrolling-news start */
  .scrolling-news .title {
    font-size: 20px;
  }
  .scrolling-news .marq .marque-text {
    font-size: 18px;
  }

  /* scrolling-news end */
  /* hero section  */
  .hero-section .our-demands {
    max-height: 20rem;
  }

  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: 80px;
    grid-gap: 5px;
  }
  .all-shamonnoyk-list .title {
    font-size: 48px;
  }
  #bg-video {
    height: 600px;
  }
}

@media screen and (min-width: 376px) and (max-width: 575.98px) {
  /* scrolling-news start */
  .scrolling-news .title {
    font-size: 20px;
  }
  .scrolling-news .marq .marque-text {
    font-size: 16px;
  }
  /* scrolling-news end */
  /* hero section  */
  .hero-section .our-demands {
    max-height: 18rem;
  }
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    grid-auto-rows: 85px;
    grid-gap: 5px;
  }
  .all-shamonnoyk-list .title {
    font-size: 32px;
  }
  #bg-video {
    height: 700px;
  }
}

@media screen and (min-width: 0px) and (max-width: 375.98px) {
  /* scrolling-news start */
  .scrolling-news .title {
    font-size: 18px;
  }
  .scrolling-news .marq .marque-text {
    font-size: 14px;
  }
  /* scrolling-news end */
  /* hero section  */
  .hero-section .our-demands {
    max-height: 15rem;
  }
  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    grid-auto-rows: 85px;
    grid-gap: 5px;
  }

  .all-shamonnoyk-list .title {
    font-size: 32px;
  }
  #bg-video {
    height: 700px;
  }
}
